<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="CarApp" ng-controller="CarController as ctrl">
    <head >
        <title>{{ctrl.title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="js/angular-locale_da.js" type="text/javascript"></script>



    </head>
    <body> 

        <script src="js/app.js" type="text/javascript"></script>
        <h1>Sort by = {{propName}}; reverse = {{reverse}}</h1>
        <h2>Number of Cars: {{ctrl.cars.length}}</h2>

        <label>Search: <input ng-model="searchText"></label>

        <table class="table table-responsive table-striped"><thead>
                <tr>
                    <th>Index</th>
                    <th><a href="#" ng-click="sortBy('year')">Name</a>
                        <span class="sortorder" ng-show="propName === 'year'" ng-class="{reverse: reverse}"></span></th>
                    <th><a href="#" ng-click="sortBy('registered')">registered</a>                    
                        <span class="sortorder" ng-show="propName === 'registered'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th><a href="#" ng-click="sortBy('make')">make</a></th>
                    <th><a href="#" ng-click="sortBy('model')">model</a></th>
                    <th><a href="#" ng-click="sortBy('description')">description</a></th>
                    <th><a href="#" ng-click="sortBy('price')">price</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car in cars| orderBy:propName:reverse">
                    <td>{{$index + 1}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.registered| date }}</td>
                    <td>{{car.make}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.description}}</td>
                    <td>{{car.price|currency}}</td>
                </tr>
            </tbody>



        </table>
    </body>
</html>
